html,
body {
    margin: 0;
    font-family: Arial, serif;
    background-color: #eee;
    font-size: large;
}

nav {
    background-color: black;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    user-select: none;
}

nav a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #282828;
}

main {
    padding-top: 34px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 1%;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img{
    width:100%;
}

.box {
    background-color: #fff;
    min-height: 500px;
    outline: none;
    padding: 20px;
}

.disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#render {
    display: none;
    white-space: break-spaces;
}

#edit {
    white-space: break-spaces;
}

#inputfile{
    display: none;
}